<div class="wrapper dashboard-wrapper">
<main >
    <div class="title">
        <mat-icon id="assignment-ind">assignment_ind</mat-icon>  <span id="title-name">Personel information</span> <mat-icon id="assignment-ind">assignment_ind</mat-icon> 
     </div>
     <div class="full-width">
        <div class="item">
           <mat-icon id="account-box">account_box</mat-icon> User Name: 
           <p> </p>
           <mat-divider></mat-divider>
        </div>
        
        
       
        <div class="item">
            <mat-icon id="email">email</mat-icon> Email: 
            <p> </p>
            <mat-divider></mat-divider>
        </div>
        
        <div class="item">
            <mat-icon id="contacts">contacts</mat-icon> Wallet Address: 
            <p> </p>
            <mat-divider></mat-divider>
        </div>
        
     </div>
   
</main>
<aside >

</aside>
</div>
