.wrapper-business {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #faf0af;
    padding: 1em 2em;
    grid-gap: 10px 10px;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
}
button{
    font-size: 18px;
    background-color: black;
    color: white;
}
.mat-raised-button {
    border: solid yellow;
}
.mat-raised-button:hover{
    font-size: 25px;
    background-color: black;
    color: white;
    border-color: yellow;
}

.mat-button {
    border: dashed yellow;
}
.mat-button:hover{
    font-size: 25px;
    background-color: black;
    color: white;
    border: solid yellow;
}
router-outlet {
    display: none;
}