<div class="wrapper-business">
    <!-- Nav for choosing features -->
    <aside class="left-sidebar">
        <button [routerLink]="['dashboard']" mat-button>Dashboard</button>
        <button [routerLink]="['create-transaction']" mat-button>Send Transaction</button>
        <button [routerLink]="['exchange']" mat-button>Exchange Coin/Cash</button>
        <button [routerLink]="['market']" mat-button>Market</button>
    </aside>
    <!-- Main content -->
    <router-outlet></router-outlet>
</div>