<div class="wrapper wrapper-business">
    <!-- Nav for choosing features -->
    <aside class="left-sidebar">
        <button [routerLink]="['dashboard']" mat-raised-button>Dashboard</button>
        <button [routerLink]="['create-transaction']" mat-button>Transaction</button>
        <button [routerLink]="['exchange']" mat-button>Exchange Coin/Cash</button>
        <button [routerLink]="['market']" mat-button>Market</button>
        <button [routerLink]="['local-stored']" mat-button>Local Strored</button>
        <img src="./assets/image/content.jpg" alt="anhminhhoa">
    </aside>
    <!-- Main content -->
    <router-outlet></router-outlet>
</div>