<div class="wrapper">
  <!-- Todo: Could switch mode between display Blocks or Transactions -->
  <mat-button-toggle-group>
    <mat-button-toggle (click)="displayBlock=false">Transaction</mat-button-toggle>
    <mat-button-toggle (click)="displayBlock=true">Block</mat-button-toggle>
  </mat-button-toggle-group>
  <!-- Content -->
  <!-- Todo: Should be a List and scrollable -->
  <main class="scrollable">
    <mat-list
      class="scrollable"
      *ngIf="displayBlock"
      #blockchain>
      <!-- Todo: Decorate this, display right information -->
      <mat-list-item *ngFor="let bl of blocks">
        <div class="item-info">
          <span>Nonce {{ bl.nonce }}</span>
        </div>
      </mat-list-item>
    </mat-list>
    <mat-selection-list *ngIf="!displayBlock" #transaction>
      <!-- Todo: Decorate this, display right information -->
      <mat-list-option *ngFor="let tr of transactions" [value]="tr">
        <div class="item-info">
          <span>Id {{ tr.transactionId }}</span>
        </div>
      </mat-list-option>
    </mat-selection-list>
    <button
      (click)="mineSelectedTransaction()"
      [hidden]="displayBlock"
      mat-raised-button>Mine Selected</button>
  </main>
</div>