
<div class="page-footer font-small teal pt-4">
  
  <div class="container-fluid text-center text-md-left">
   
    <div class="row">
      
      <div class="col-md-6 mt-md-0 mt-3">
        <h1>myExchange::</h1>
        <p>Sàn giao dịch tài sản số Online mang đến cho người dùng những tính năng dễ dàng sử dụng,
        an toàn và thân thiện với tất cả người dùng.   </p>
      </div>

      <div class="col-md-6 mb-md-0 mb-3">
        <h5 class="text-uppercase font-weight-bold">Liên hệ</h5>
       <p><mat-icon id="home">home</mat-icon> Địa chỉ: 12 Nguyễn Văn Bảo, Gò Vấp, Thành phố Hồ Chí Minh </p>
       <p><mat-icon id="smartphone">smartphone</mat-icon> Điện thoại: +84 123456789</p>
       <p><mat-icon id="mail">mail</mat-icon> Email: sangiaodichonline@gmail.com</p>
       
      </div>

      <hr>

    </div>
    
    <div class="page-end">
      <p>© Website 2020, myExchange</p>
    </div>

   
  </div>
  
</div>
