<div class="wrapper wrapper-register">
  <form [formGroup]="registerForm" autocomplete="off">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        type="email"
        formControlName="email"
        matInput>
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        type="password"
        formControlName="password"
        matInput>
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input
        type="password"
        formControlName="confirm"
        [errorStateMatcher]="matcher"
        matInput>
      <mat-error></mat-error>
    </mat-form-field>
    <button
      (click)="onRegister()"
      color="accent"
      mat-raised-button>Register</button>
  </form>
</div>
