<div class="wrapper wrapper-register">
  <h1>OFFICIAL SIGNUP FORM</h1>
  <div class="content">
    <h2>SIGNUP HERE</h2>
  <form [formGroup]="registerForm" autocomplete="off">
    <mat-form-field>
      
      <input
        type="email"
        formControlName="email"
        matInput placeholder="EMAIL">
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field>
      
      <input
        type="password"
        formControlName="password"
        matInput placeholder="PASSWORD">
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field>
      
      <input
        type="password"
        formControlName="confirm"
        [errorStateMatcher]="matcher"
        matInput placeholder="CONFIRM PASSWORD">
      <mat-error></mat-error>
    </mat-form-field>
    <button
      (click)="onRegister()"
      color="accent"
      mat-raised-button>Register</button>
  </form>
  </div>
</div>
