<div class="wrapper wrapper-exchange">
  <main>
    <div class="title">
      <mat-icon id="calendar-today">calendar_today</mat-icon> <span id="title-name">Exchange Coin</span> <mat-icon id="calendar-today">calendar_today</mat-icon>
          <button
    (click)="isBuy=!isBuy"
    mat-stroked-button><mat-icon id="cached">cached</mat-icon>
    {{ isBuy ? 'buy' : 'sell' }}
  </button>
      
    </div>
    
     <mat-divider class=""></mat-divider>
  <form [formGroup]="formGroup" autocomplete="off">
    
    <!-- Content -->
    <article class="inline space-between">
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input
          (keyup)="exchange(this.$event.target.value)"
          type="number"
          formControlName="amount"
          matInput>
        <mat-icon matSuffix>{{ isCash ? 'local_atm' : 'monetization_on' }}</mat-icon>
        <mat-error *ngIf="formGroup.get('amount').errors">Input too small</mat-error>
      </mat-form-field>
      <button (click)="isCash=!isCash" mat-icon-button>
        <mat-icon id="swap-horizontal-circle">swap_horizontal_circle</mat-icon>
      </button>
      <span>
        {{ exchangeAmount }}
        <mat-icon id="monetization-on">{{ isCash ? 'monetization_on' : 'local_atm' }}</mat-icon>
      </span>
    </article>
    <!-- Action -->
    
  </form>
  <mat-divider></mat-divider>
  <div class="send">
    <button (click)="sendExchangeRequest()" color="warn" mat-raised-button>Trade</button>
  </div>
  </main>
  <aside>
  <mat-list>
    <div class="title">
      <mat-icon id="article">article</mat-icon> <span id="title-name">Exchange History</span> 
        <mat-icon id="article">article</mat-icon>
     </div>
    <mat-list-item class="inline space-between" *ngFor="let item of exchangeHistory">
      <p class="expand-width">Amount: {{ item.amount }}</p>
      <div class="status-bar">
        <button class="rounded rounded-danger" mat-button>{{ item.action }}</button>
        <button class="rounded rounded-success" mat-button>{{ item.status }}</button>
      </div>
    </mat-list-item>
  </mat-list>
</aside>
</div>

